:root {
    --color-bg: black;
    --color-border: gray;
    --color-hover: orange;
    --color-invalid: pink;
    --color-placeholder: gray;
    --color-text: white;
    --color-valid: green;
}

html, body {
    font-size: 16px;
    color: var(--color-text);
}

body {
    background: black url(../img/background.png);
}

.valid {
    border-bottom: 1px solid var(--color-valid);
}

.invalid {
    border-bottom: 1px solid var(--color-invalid);
}

.input, button {
    padding: 1em;
}

button {
    width: fit-content;
    background: var(--color-bg);
    color: var(--color-text);
    border: .3px solid var(--color-border);
    user-select: none;
}

button:hover {
    border-color: var(--color-hover);
}

.input {
    display: inline-block;
    width: 100%;
    overflow-wrap: anywhere;
}

@media screen and (max-width: 720px) {
    li {
        width: 100%;
    }

    ol {
        flex-flow: column nowrap;
        padding: 0;
    }
}

@media screen and (min-width: 721px) {
    .input {
        max-width: 15ch;
    }

    ol {
        flex-flow: row wrap;
        padding: 0 10ch;
        justify-content: center;
    }

    li {
        margin: .5em;
    }

    li > .input-group {
        flex: 1;
    }
}

.input-group {
    display: flex;
    flow-flow: row nowrap;
}

ol {
    counter-reset: cntli;
    display: flex;
}

li {
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid var(--color-border);
    padding: 1em;
    background: var(--color-bg);
}

li:before {
    counter-increment: cntli;
    content: "#" counter(cntli);
    display: block;
    padding-bottom: 1em;
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    color: var(--color-placeholder);
}

[contenteditable=true] br{
    display:none;
}
