html, body {
    font-size: 16px;
}

.valid {
    background: lightgreen;
}

.invalid {
    background: pink;
}

.input, button {
    padding: .5em;
}

button {
    width: fit-content;
}

.input {
    display: inline-block;
    width: 100%;
    overflow-wrap: anywhere;
}

@media screen and (max-width: 720px) {
    li {
        width: 100%;
    }

    ol {
        flex-flow: column nowrap;
        padding: 0;
    }
}

@media screen and (min-width: 721px) {
    .input {
        max-width: 15ch;
    }

    ol {
        flex-flow: row wrap;
        padding: 0 10ch;
        justify-content: center;
    }

    li {
        margin: .5em;
    }

    li > .input-group {
        flex: 1;
    }
}

.input-group {
    display: flex;
    flow-flow: row nowrap;
    background-color: lightblue;
}

ol {
    counter-reset: cntli;
    display: flex;
    background-color: green;
}

li {
    display: flex;
    flex-flow: column nowrap;
    background-color: blue;
    border: 1px solid yellow;
}

li:before {
    counter-increment: cntli;
    content: "#" counter(cntli);
    display: block;
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    color: gray;
}

[contenteditable=true] br{
    display:none;
}
