<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/normalize.css"/>
        <link rel="stylesheet" type="text/css" href="css/main.css?v=5"/>
        <title>千字文</title>
    </head>
    <body>
        <button data-action="show-all">show all</button>
        <button data-action="clear-all">clear all</button>
        <ol>

{{cards}}
        </ol>
        <script src="js/main.js?v=5" async></script>
    </body>
</html>
